/* ======= RESET ========= */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======= GLOBAL VARIABLES ========= */
:root {
  /* ======= COLORS ========= */
  /* ======= Primary ========= */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-grayish-blue-50: hsla(217, 19%, 35%, 0.5);
  --very-dark-grayish-blue-70: hsla(217, 19%, 35%, 0.7);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-70: hsla(0, 0%, 100%, 0.7);

  /* ======= Neutral ========= */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body {
  font-family: 'Barlow Semi Condensed', system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
  background-color: var(--light-grayish-blue);
  margin: 0 auto;
  height: 100vh;
  padding: 6rem 2rem;

  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  gap: 2rem;
}

.card {
  border-radius: 1rem;
  padding: 2.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .card-header {
    display: grid;
    grid-template-areas:
      'img name'
      'img badge';
    justify-content: start;
    justify-items: start;
    column-gap: 1.5rem;

    & img {
      border-radius: 50%;
      width: 3rem;
      grid-area: img;
    }

    & .name {
      grid-area: name;
    }

    & .badge {
      grid-area: badge;
    }
  }
}

.card-1 {
  background-color: var(--moderate-violet);
}

.card-2 {
  background-color: var(--very-dark-grayish-blue);
}

.card-4 {
  background-color: var(--very-dark-blackish-blue);
}

.card-3,
.card-5 {
  background-color: var(--white);

  & .name {
    color: var(--very-dark-grayish-blue);
  }

  & .summary {
    color: var(--very-dark-grayish-blue);
  }

  & .badge {
    color: var(--very-dark-grayish-blue-50);
  }

  & .review-quote {
    color: var(--very-dark-grayish-blue-70);
  }
}

.card-1,
.card-2,
.card-4 {
  & .name {
    color: var(--white);
  }

  & .summary {
    color: var(--white);
  }

  & .badge {
    color: var(--white-50);
  }

  & .review-quote {
    color: var(--white-70);
  }
}

@media (min-width: 1024px) {
  body {
    padding: 10rem;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, minmax(3rem, 1fr)); */
  }

  .card-1 {
    grid-column: 1 / 3;
  }

  .card-5 {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  .card-4 {
    grid-column: 2 /4;
  }
}
