/* ======= RESET ========= */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* ======= GLOBAL VARIABLES ========= */
:root {
  /* ======= COLORS ========= */
  /* ======= Primary ========= */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* ======= Neutral ========= */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--light-blue-100);
  margin: 0 auto;
}

.card {
  border-radius: 1rem;
  background-color: blueviolet;
}
